// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Typography
$font-stack-system: "Roboto", Helvetica, Arial, sans-serif;
$base-font-family: $font-stack-system;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 0;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$medium-spacing: $base-spacing + $small-spacing;
$base-z-index: 0;

// Colors
$white: #fff;
$black: #000;
$blue: #2d9cdb;
$medium-gray: #999;
$light-gray: #eceded;
$gray: #666;
$green: #27ae60;
$dark-green: #007042;
$dark-gray: #292929;
$red: #c44c27;
$form-box-shadow-color: rgba(#000, 0.06);

// Font Colors
$base-font-color: $black;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px $form-box-shadow-color;
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Buttons
$all-buttons: 'button, .button, [type="submit"], [type="button"]';

// Animations
$base-duration: 150ms;
$base-timing: ease;
