doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    title The page you were looking for doesn't exist (404)
    meta content="width=device-width,initial-scale=1" name="viewport" /
    = stylesheet_link_tag 'application', media: 'all'
  body.errors-page
    .container
      .body
        h1 The server has encountered a problem
        p We will fix this. Promise.


