@import 'modules/buttons';

#{$all-buttons} {
  @extend %btn;
  @extend %btn-normal-hover;
  cursor: pointer;

  &.primary {
    background-color: $blue;
    color: $white;

    &:hover {
      background-color: tint($blue, 8%);
    }
  }

  &.secondary {
    background-color: $medium-gray;
    color: $white;

    &:hover {
      background-color: tint($medium-gray, 8%);
    }
  }
}

%icon-button {
  display: block;
  line-height: 0;
  padding: 8px;

  &:hover {
    background-color: transparent;
  }

  img {
    @extend %btn-normal-hover;
    padding: 13px;
    border-radius: 100%;
  }
}
