@import 'modules/buttons';

#{$all-buttons} {
  @extend %btn;

  &.primary {
    background-color: $blue;
    color: $white;
  }

  &.secondary {
    background-color: $medium-gray;
    color: $white;
  }
}
