@import 'modules/buttons';

#{$all-buttons} {
  @extend %btn;
  @extend %btn-normal-hover;
  cursor: pointer;

  &.primary {
    background-color: $blue;
    color: $white;

    &:hover {
      background-color: tint($blue, 8%);
    }
  }

  &.secondary {
    background-color: $medium-gray;
    color: $white;

    &:hover {
      background-color: tint($medium-gray, 8%);
    }
  }
}
