%header-button {
  @extend %icon-button;
  position: relative;
  z-index: 300;
}

header {
  .header-content {
    background-color: $white;
    padding: 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;

    > .header-branding,
    > .header-title,
    > .header-navigation {
      flex: 0 1 auto;
    }

    > .header-branding,
    > .header-navigation {
      flex-basis: initial;
    }

    > .header-title {
      flex-grow: 1;
      > h1 {
        font-size: 26px;
        text-align: center;
        line-height: 66px;
        margin: 0;
      }
    }

    > .header-branding {
      > a {
        padding: 8px;
        display: block;
        line-height: 0;
      }
    }

  }

  hr {
    margin: .5em;
  }

  .header-navigation {
    > a {
      @extend %header-button;
    }
  }

  .logo {
    width: 48px;
    height: 48px;
  }

  .menu {
    position: fixed;
    width: 100%;
    max-width: 300px;
    transform: translate3d(100%, 0, 0);
    top: 0;
    right: 0;
    background-color: $white;
    transition: 0.2s;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
    height: 100vh;
    z-index: 299;

    &.active {
      transform: translate3d(0, 0, 0);
    }

    a {
      @extend %btn-normal-hover;
      display: block;
      text-align: left;
    }

    > ul {
      margin: 0;
    }

    > .ledger-nav {
      margin: 60px 0 0;
    }

    .menu-button {
      @extend %header-button;
      float: right;
    }
  }
}
