.notifications {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 200;

  .notice,
  .alert {
    padding: 30px;
    text-align: center;
  }

  .notice {
    background-color: $dark-green;
    color: $white;
  }

  .alert {
    background-color: $red;
    color: $white;
  }
}

