.dashboard-page {
  #first-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .welcome {
    text-align: center;
    align-self: center;

    p {
      margin: 60px 0;
    }
  }

  p {
    font-size: 18px;
  }

  .first-time-actions {
    text-align: center;
  }
}

.main-tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;

  li {
    border: 1px solid $green;
    flex-grow: 1;

    &:first-child {
      border-right-width: 0;
    }
  }

  a {
    display: block;
    text-align: center;
    vertical-align: center;

    &:hover {
      background-color: $green;
      color: $white;
    }

    i {
      font-size: 32px;
      line-height: 64px;
    }

    span {
      display: none;
      text-decoration: none;
      text-indent: -9999em;
    }
  }
}

.js {
  .create-ledger {
    display: none;
    z-index: 300;
    padding: 40px;
    background-color: $white;
    left: 60px;
    right: 60px;
    position: fixed;

    @include media("<tablet") {
      left: 10px;
      right: 10px;
      padding: 30px;
    }


    &.active {
      display: block;
    }
  }
}
