.home-page {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  min-height: 100%;

  .sign-in {
    @include flex(0);
    background-color: $white;
    width: 300px;
    // margin: 80px auto 0;
    margin-top: -20px;
    padding: 32px 40px 40px;
    text-align: center;
  }
}
