.home-page {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100%;

  .logo {
  }

  .branding-element {
    p {
      margin-top: 40px;
    }
  }

  .container {
    max-width: 420px;
    text-align: center;
    min-height: 0;
    padding: 20px;
  }

  .body {
    align-items: center;
    display: flex;
    justify-content: center;
    flex: 2;

    > .branding-element {
      flex: 1;
      padding-bottom: 40px;
      color: $gray;
      font-size: 24px;
    }
  }

  .main-action {
    flex: 1;
  }

}
